.form-container {
    display: flex;
    flex-direction: column;
}

.form-container .title {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 5px 0;
}

.form-container p {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.form-container input {
    border-radius: .3rem;
    padding: .3rem .5rem;
    font-size: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.form-container button {
    border-radius: .3rem;
    padding: .3rem .6rem;
    width: 100%;
    margin: 0 auto;
    font-size: 1.2rem;
}