.loby-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
  }
  
  .participant video {
    width: 90%;
    height: auto;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #bbb;
  }
  
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .btn-container button {
    margin-right: 5px;
    font-size: large;
    padding: 3px 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in .2s;
  }
  
  .btn-container button:hover {
    transform: translateY(-3px);
  }